@import url('./assets/_colors.less');
@import url('./_reset.less');

@import url('./header/_nav.less');
@import url('./movies/_movies.less');
@import url('./movie_page/_movies.less');


body {
    background-color: @bg-color;
    color: @text-color_default;
}

.container {
	max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

